.hero .title {
   
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07143;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff; 
}
.hero .button {
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.button:hover,
.button:focus {
    background: #404bbf;
}
.hero {
    background-color: #2e2f42;
}